/* #212121  цвет заголовков текста
   #757575 основной цвет текста
   #FFFFFF белый
   #2196F3 hover акцент
   color: rgba(255, 255, 255, 0.6); футер номера
   background: #F5F4FA; вторичный фон
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --background-main-color: #ffffff;
  --background-light-color: #f5f4fa;
  --background-hero-color: #2f303a;
  --bacdrop-color: rgba(0, 0, 0, 0.2);
  --backgraund--overlay: rgba(33, 150, 243, 0.9);
  --color-icon: #afb1b8;
  --text-logo: Raleway, sans-serif;
  --main-font: Roboto, sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--background-main-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list,
.filter-list,
.list-project {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  margin: 0px;
}

.logo {
  padding: 24px 0px;
  color: var(--accent-text-color);
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: #000000;
}

.head {
  margin-right: 93px;
}

.site-nav,
.header-page .conteiner,
.way,
.contact {
  display: flex;
  align-items: center;
}

.site-nav .items,
.contact .items {
  margin-right: 50px;
}

.site-nav .items:last-child,
.contact .items:last-child,
.warranty .items:last-child,
.occupation .items:last-child,
.team .items:last-child {
  margin-right: 0px;
}

.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: var(--animation);
}

.site-nav a:hover,
.site-nav a:focus,
.contact a:hover,
.contact a:focus {
  color: var(--accent-text-color);
}

.items .phone,
.items .mail {
  display: flex;
  align-items: center;
}

.phone-icon,
.mail-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}

.contact a {
  transition: var(--animation);
}

a.phone:hover,
a.mail:hover,
a.phone:focus,
a.mail:focus {
  color: var(--accent-text-color);
  fill: var(--accent-text-color);
}

.contact {
  display: flex;
  margin-left: auto;
}

.phone,
.mail {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.section-title {
  margin: 0px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.hero {
  padding-top: 202px;
  padding-bottom: 206px;
  background-color: var(--background-hero-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 22px;
  max-width: 696px;

  color: var(--background-main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;
  min-width: 200px;
  margin: 0 auto;
  border-radius: 4px;
  border-color: var(--accent-text-color);

  color: var(--background-main-color);
  background-color: var(--accent-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus,
.footer-botton:hover,
.footer-botton:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bacdrop-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateX(-150%);
  opacity: 0;
}

/* modal */

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(0%) scale(1);
  opacity: 1;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 3;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--background-main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  max-width: 528px;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--background-main-color);
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-text-color);
  outline: none;
}

.modal-box {
  padding: 40px;
  background-color: var(--background-main-color);
}

.modal-title {
  margin-top: 0px;
  margin-bottom: 12px;
  max-width: 100%;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-boxs {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-30%);
  fill: var(--title-text-color);
}

.modal-ladel {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-input {
  margin-bottom: 10px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-input:hover,
.modal-input:focus,
.modal-area:focus,
.modal-area:hover {
  border: 1px solid var(--accent-text-color);
  outline: var(--accent-text-color);
  transition: var(--animation);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--accent-text-color);
  outline-color: var(--accent-text-color);
  transition: var(--animation);
}

.modal-area {
  display: flex;
  padding: 12px 16px;
  margin-bottom: 20px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-area::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-chech {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-label {
  display: inline-flex;
  align-items: center;
  margin: 0px 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.check-icon {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox:checked + .check-icon {
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
  background-image: url(../images/whitecheck.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus + .check-icon,
.checkbox:hover + .check-icon {
  border-color: var(--accent-text-color);
}

.checkbox:checked:focus + .check-icon {
  background-image: url(../images/whitecheck.svg);
  transition: var(--animation);
}

.checkbox-link {
  color: var(--accent-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: underline;
  margin-left: 3px;
}

.form-button {
  width: 200px;
  padding: 10px 55px;
  margin: 0 auto;
  background-color: var(--accent-text-color);
  color: var(--background-main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}

.warranty,
.team,
.clients,
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.warranty .list,
.occupation .list,
.team .list {
  display: flex;
}

.warranty .items {
  width: 270px;
  margin-right: 30px;
}

.warranty .items::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--background-light-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagramma::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.warranty-plan {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.warranty-text {
  margin: 0px;
  font-size: 14px;
  line-height: 1.71;
}
.occupation {
  padding-bottom: 94px;
}

.occupation .section-title,
.team .section-title {
  margin-bottom: 50px;
}

.occupation .items {
  position: relative;
  display: block;
  width: 370px;
  height: 294px;
  z-index: -1;
  margin-right: 30px;
  line-height: 0px;
}

.occupation img {
  display: block;
  width: 100%;
}

.occupation-wraper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  min-width: 100%;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
}

.occupation-title {
  margin: 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--background-main-color);
}

.team {
  background-color: var(--background-light-color);
}

.team .items {
  width: 270px;
  margin-right: 30px;
  line-height: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team img {
  display: block;
}

.card {
  padding: 30px 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-main-color);
}

.team-name {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-proff {
  margin-top: 0px;
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-box {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.team-block {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  fill: var(--color-icon);

  transition: var(--animation);
}

.team-block:hover,
.team-block:focus {
  background-color: var(--accent-text-color);
  fill: var(--background-main-color);
}

.clients-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.clients-box,
.soc-info {
  display: flex;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  fill: var(--color-icon);

  transition: var(--animation);
}

.items-clients {
  margin-right: 30px;
  width: 170px;
  height: 90px;
}

.team-box:last-child,
.items-clients:last-child,
.soc-items:last-child {
  margin-right: 0px;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

/* Footer*/

.footer {
  background-color: var(--background-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--accent-text-color);
  font-family: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-footer .studio {
  color: var(--background-main-color);
}

.address a {
  display: inline-block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address a:focus,
.address a:hover {
  color: var(--accent-text-color);
  transition: var(--animation);
}

.footer .mobile {
  margin-bottom: 0px;
}

a.connection {
  color: var(--background-main-color);
}

.title-footer {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--background-main-color);
}

.soc-items {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.boxxes {
  margin-right: 70px;
}

.soc-block {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-main-color);

  transition: var(--animation);
}

.soc-block:hover,
.soc-block:focus {
  background-color: var(--accent-text-color);
}

.subscription {
  margin-left: auto;
}
.footer-botton {
  padding: 10px 29px;
  border-radius: 4px;
  background-color: var(--accent-text-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: inline-flex;
  align-items: center;
  text-align: center;
  color: var(--background-main-color);
  cursor: pointer;
  border: none;
}

.telegram-icon {
  margin-left: 10px;
}

.input-subc {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.modal-area {
  overflow: auto;
  resize: none;
}

/* button */

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;

  color: var(--title-text-color);
  background-color: var(--background-light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  transition: var(--animation);
}

.button:hover,
.button:focus {
  color: var(--background-main-color);
  outline: none;
  background-color: var(--accent-text-color);
  cursor: pointer;
}

/*portfolio*/

.activ-page {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  color: var(--accent-text-color);
}

.activ-page::after {
  display: block;
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.filter {
  border-top: 1px solid #ececec;
}

.filter-list {
  margin-top: 0px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list .items {
  margin-right: 8px;
}

.filter-list .items:nth-last-child(-n + 1) {
  margin-right: 0px;
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: 0px;
  margin-left: 0px;
}

.items-project img {
  display: block;
}

.items-project {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 372px;
  outline: 1px solid #eeeeee;

  line-height: 0px;
  background-color: var(--background-main-color);

  transition: var(--animation);
}

.items-link {
  display: block;
}

.items-link:hover,
.items-link:focus,
.button:focus,
.button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.items-project:nth-child(3n) {
  margin-right: 0px;
}

.items-project:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.progect-title {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.progect-text {
  margin-top: 4px;
  margin-bottom: 0px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.progect-box {
  padding: 20px 24px;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.project-overley {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1px;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: var(--backgraund--overlay);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items-link:hover .project-overley,
.items-link:focus .project-overley {
  transform: translateY(0);
}

.overlay-text {
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}
